header>h1 {
    height: 100%;
    text-align: center;
    background-color: #333;
    margin: 0px;
    padding: 24px;
    color: white;
}

.main-container {
    background-color: rgb(199, 192, 192);
    display: flex;
    margin: 8px;
}

.container-item {
    border: 1px solid;
    width: 30%;
    padding: 24px;
    border: 8px white solid;
    border-radius: 16px;
}

/* Form BMI */

.container-item>h3 {
    text-align: center;
}

#form {
    background-color: #CCE4F0;
    padding: 8px;
    border-radius: 8px;
    padding-left: 24px;
}

.control-label {
    font-weight: bold;
}

.form-input {
    width: 95%;
    border: 0px;
    height: 16px;
    padding-top: 8px;
    background-color: #CCE4F0;
    display: table-cell;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.form-button {
    padding-top: 24px;
}

button {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: bold;
    border-radius: 6px;
}

#calculate-button {
    background-color: #117ba9;
    color: white;
}

/* Form Result */

.result {
    text-align: center;
    background-color: #CCE4F0;
    padding-top: 8px;
    padding-bottom: 24px;
    border-radius: 8px;
}

.button-result {
    background-color: #117ba9;
    color: white;
}

/* Form Result 2 */

.result-2 {
    background-color: #CCE4F0;
    padding: 8px;
    padding-bottom: 24px;
    border-radius: 8px;
    padding-left: 24px;
}

.container-closer {
    height: 100%;
    text-align: center;
    background-color: #333;
    margin: 0px;
    padding: 24px;
    color: white;
}

.button-result2 {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #117ba9;
    color: white;
}

.icon-sosmed {
    padding-left: 24px;
}