header>h1 {
    height: 100%;
    text-align: center;
    background-color: rgb(131, 250, 171);
    margin: 0px;
    padding: 24px;
}

.main-container {
    display: flex;
}

.container-item {
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

/* Form BMI */

.container-item>h3 {
    text-align: center;
}

.form {
    background-color: aquamarine;
    padding: 8px;
    border-radius: 8px;
    padding-left: 24px;
}

.form-input {
    font-weight: bold;
    width: 100%;
    border: 0px;
    height: 12px;
    padding-top: 8px;
    background-color: aquamarine;
}

.form-button {
    padding-top: 24px;
}

button {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    font-weight: bold;
    border-radius: 6px;
}

#calculate-button {
    background-color: coral;
}

/* Form Result */

.result {
    text-align: center;
    background-color: aquamarine;
    padding-top: 8px;
    padding-bottom: 24px;
    border-radius: 8px;
}

.result>p {
    font-size: large;
}